* @pocketzworld/docs
GetUserOutfitResponse(
    outfit=[
        Item(
            type='clothing',
            amount=1,
            id='hair_front-n_malenew05',
            account_bound=False,
            active_palette=1
        ),
        Item(
            type='clothing',
            amount=1,
            id='hair_back-n_malenew05',
            account_bound=False,
            active_palette=1
        ),
        Item(
            type='clothing',
            amount=1,
            id='body-flesh',
            account_bound=False,
            active_palette=27
        ),
        Item(
            type='clothing',
            amount=1,
            id='eye-n_basic2018malesquaresleepy',
            account_bound=False,
            active_palette=7
        ),
        Item(
            type='clothing',
            amount=1,
            id='eyebrow-n_basic2018newbrows07',
            account_bound=False,
            active_palette=0
        ),
        Item(
            type='clothing',
            amount=1,
            id='nose-n_basic2018newnose05',
            account_bound=False,
            active_palette=0
        ),
        Item(
            type='clothing',
            amount=1,
            id='mouth-basic2018chippermouth',
            account_bound=False,
            active_palette=-1
        ),
        Item(
            type='clothing',
            amount=1,
            id='freckle-n_basic2018freckle04',
            account_bound=False,
            active_palette=0
        ),
        Item(
            type='clothing',
            amount=1,
            id='shirt-n_room32019denimjackethoodie',
            account_bound=False,
            active_palette=0
        ),
        Item(
            type='clothing',
            amount=1,
            id='pants-n_starteritems2019cuffedjeanswhite',
            account_bound=False,
            active_palette=0
        ),
        Item(
            type='clothing',
            amount=1,
            id='shoes-n_room32019socksneakersgrey',
            account_bound=False,
            active_palette=0
        )
    ],
    rid='0'
)
